.row
	.sitebanner.col-md-12.hidden-xs.hidden-sm
		= image_tag(@site.banner, :class => 'img-responsive')
.events
	.row
		.col-md-4
			= render partial: "eventbox", locals: {event: @weekly}
		.col-md-4
			= render partial: "eventbox", locals: {event: @event}
		.col-md-4
			= render partial: "eventbox", locals: {event: @event}
.row
	.col-md-9
		.posts
			= render partial: "post", collection: @posts
	.col-md-3
		.sidebar.visible-lg
			This sidebar does nothing.